.card-floating-container {
	background-color: rgba(155, 155, 195, 0.6);
	margin: 0.8%;
	box-shadow: 10px 10px 10px rgba(0, 0, 0);
	padding: 1em;
	border-radius: 12px;
/*	width: 35%;*/
}


.card-floating-container label {
	color: #fff;
	margin: 0.2em;
}

.floating-container {
	background-color: rgba(55, 55, 55, 1);
	margin: 0em;
	box-shadow: 10px 10px 10px rgba(0, 0, 0);
	padding: 0em;
	border-radius: 0px;
	width: fit-content;
	height: fit-content;
}

.selected_table_row {
	border: solid 0.095em red !important;
	background-color: rgba(128, 31, 31, 0.8) !important;
}

.full-height {
	height: 95vh;
}

.container-general {
	margin: 1%;
	display: block;

}